@import url("https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap");

$font-serif: "Hina Mincho", serif;
$normal-font-size: 23px;

@mixin flexbox(
  $direction: row,
  $align-items: center,
  $justify-content: unset,
  $gap: 0
) {
  display: flex;
  flex-direction: $direction;
  align-items: $align-items;
  justify-content: $justify-content;
  gap: $gap;
}

@mixin grid(
  $columns: 1,
  $rows: 1,
  $align-items: center,
  $justify-content: center,
  $gap: 0
) {
  display: grid;
  grid-template-columns: $columns;
  grid-template-rows: $rows;
  align-items: $align-items;
  justify-items: $justify-content;
  gap: $gap;
}

@mixin size($width: 100%, $height: 100%) {
  width: $width;
  height: $height;
}

* {
  z-index: 1;
  font-family: $font-serif;
  color: white;
  font-size: $normal-font-size;
}

body {
  background-color: black;
  margin: 0;
}

::-webkit-scrollbar {
  display: none;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

#scroll-down-button {
  transition: all 0.3s ease-in-out;
  &:hover {
    transform: scale(1.2);
  }
  padding: 0;
  height: 48px;
  border: none;
  background-color: transparent;
}
