@import "base";

// TODO: Remove this before pushing
// .fifth-view,
.view {
  display: flex;
  place-items: center;
  justify-content: center;
  min-height: 70vh;
  margin: 0;
}

.content {
  margin: 15vh 0;
  place-items: center;
  max-width: 80vw;
}

// Navigation bar
.nav {
  @include flexbox($justify-content: space-between);
  @include size(100%, 100px);

  position: fixed;
  transition: all 0.5s ease-in-out;
  z-index: 10;

  &.hide {
    transform: translate(0, -100px);
  }

  span {
    @include flexbox($align-items: center, $gap: 17px);

    img {
      height: 100px;
      filter: invert(1);
    }

    h2 {
      font-size: 35px;
      font-weight: 700;
      margin: 0;
      overflow: hidden;
    }
  }

  ul {
    gap: 40px;
    margin-right: 20px;

    a {
      text-decoration: none;
      font-size: 30px;
    }
  }

  backdrop-filter: blur(10px);

  @media screen and (max-width: 1100px) {
    display: none;
  }
}

.nav-ul {
  display: flex;
  padding: 0;
  list-style: none;

  a:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: white;
    transition: transform 0.3s ease-in-out;
    transform: scaleX(0);
    transform-origin: bottom right;
  }

  a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}

// Title view
.first-view {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-image: url("../img/bg1.png?as=webp&height=1080&quality=60");

  .content {
    @include flexbox(column, center, center, 20px);
    height: calc(100vh - 48px);

    img {
      filter: invert(1);
      height: 200px;
    }

    h1 {
      font-size: 68px;
      font-weight: 400;
      margin: 0;
    }
    @media screen and (max-width: 1200px) {
      h1 {
        text-align: center;
      }
    }
    @media screen and (max-width: 600px) {
      h1 {
        font-size: 48px;
      }
    }

    ul {
      gap: 80px;
      a {
        text-decoration: none;
        font-size: 42px;
      }
    }
    @media screen and (max-width: 1200px) and (min-width: 600px) {
      ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
      }
    }
    @media screen and (max-width: 600px) {
      ul {
        display: grid;
        grid-template-columns: 1fr;
        gap: 40px;
        a {
          font-size: 32px;
        }
        gap: 20px;
      }
    }
  }
}
.first-view-blur {
  @include size(100%, 100%);
  position: absolute;
  top: 0;
  z-index: 0;
  opacity: 0.9;
  background: linear-gradient(180deg, #000 -30%, rgba(0, 0, 0, 0) 100%);
}

// Presentation view
.second-view .content {
  display: grid;
  gap: 40px 40px;
  grid-template-columns: 1fr 1fr;
  img {
    max-width: 40vh;
  }
  div {
    @include flexbox(column, left, center, 30px);
    font-size: 25px;
    p {
      margin: 0;
    }
  }
  @media screen and (max-width: 1050px) {
    grid-template-columns: 1fr;
  }
}
#video-splash-canva {
  @include flexbox(column, center, center, 20px);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  > div {
    @include flexbox(column, center, center, 20px);
    font-size: 25px;
    width: 80vw;
    button {
      padding: 5px;
      display: flex;
      border-radius: 30%;
      background-color: white;
      cursor: pointer;
      align-self: flex-end;
    }
    iframe {
      width: 80vw;
      height: calc(80vw * 9 / 16);
    }
  }
}
#video-splash-canva.show {
  display: flex;
}

// Download view
.third-view {
  min-height: 40vh !important;
}
.third-view .content {
  display: grid;
  gap: 40px 15vw;
  grid-template-columns: repeat(2, 1fr);

  div {
    @include flexbox(column, $gap: 5px);
    font-size: 25px;
    img {
      width: 96px;
      margin: 20px auto;
    }
    span {
      font-size: 30px;
    }
  }

  div.link-right {
    gap: 5px;
    display: none;
    font-size: 25px;
  }

  @media screen and (max-width: 800px) {
    grid-template-columns: 1fr 1fr;
    gap: 40px 20px;
    div.platform {
      grid-column: 1 / 2;
    }
    div.link-below {
      display: none;
    }
    div.link-right {
      display: flex;
      grid-column: 2 / 3;
    }
  }
}

// Team view
.fourth-view .content {
  width: 80vw;
  p {
    text-align: center;
    font-size: 34px;
    margin-bottom: 80px;
  }

  .team-grid {
    display: grid;
    gap: 40px 40px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    div {
      @include flexbox(column, center, center, 20px);
      img {
        border-radius: 25%;
        height: 128px; // Loading property
        width: 128px; // Loading property
        background-color: rgb(48, 48, 48); // Loading property
      }
      @media screen and (max-width: 800px) {
        img {
          height: 96px;
          width: 96px;
        }
      }
      .name {
        font-size: 27px;
      }
      .bio {
        font-size: 25px;
      }
    }
    div.link-right {
      gap: 10px;
      display: none;
      font-size: 25px;
    }

    @media screen and (max-width: 800px) {
      grid-template-columns: 1fr 2fr;
      gap: 40px 0;
      div {
        img {
          height: 64px;
          width: 64px;
        }
      }
      div.platform {
        grid-column: 1 / 2;
      }
      div.link-below {
        display: none;
      }
      div.link-right {
        display: flex;
        grid-column: 2 / 3;
      }
    }
  }
}

// Softwares view
.fifth-view .content {
  @include flexbox(column, center, center, 20px);
  width: 80vw;
  p {
    text-align: end;
    font-size: 34px;
    margin-bottom: 80px;
  }

  .softwares-grid {
    display: grid;
    gap: 150px 50px;
    grid-template-columns: auto 1fr;
    align-items: flex-start;
    > div {
      // Elements of the grid
      @include flexbox(column, unset, unset, 25px);
      &.category {
        // Left side of the grid
        height: 96px;
        justify-content: center;
        p {
          font-size: 30px;
          margin: 0;
        }
      }
    }
    a {
      @include flexbox(row, $gap: 30px);
      div {
        @include flexbox(column, unset, $gap: 5px);
      }
      img {
        height: 96px;
        width: 96px;
      }
      @media screen and (max-width: 800px) {
        img {
          height: 64px;
          width: 64px;
        }
      }
    }
  }
  @media screen and (min-width: 950px) and (max-width: 1799px) {
    .softwares-grid > div:not(.category) {
      display: grid;
      gap: 20px 60px;
      grid-template-columns: 1fr 1fr;
      margin-left: 30px;
    }
  }
  @media screen and (min-width: 1800px) {
    .softwares-grid {
      grid-template-columns: auto 1fr auto 1fr auto 1fr;
      > div:not(.category) {
        margin-left: 40px;
      }
    }
  }
}

// History view
.sixth-view .content {
  display: grid;
  grid-template-columns: 1fr 7fr;
  place-items: unset;
  gap: 60px 10vw;

  .trait {
    place-self: center;
    grid-row: 1 / 6;
    grid-column: 1 / 2;
    z-index: -10;
    background-color: white;
    width: 2px;
    height: 100%;
    border-radius: 2px;
  }

  & > img {
    place-self: center;
    grid-column: 1 / 2;
    background-color: #000;
    padding: 10px;
    align-self: baseline;
  }

  & > div {
    grid-column: 2 / 3;
    @include flexbox(column, start, $gap: 15px);
    * {
      margin: 0;
    }
    h2 {
      font-size: 30px;
    }
    p {
      font-size: 25px;
    }
    a {
      @include flexbox(row, baseline, center, 5px);
      img {
        height: 1em;
        translate: 0px 4px;
      }
    }
  }

  .time1 {
    grid-row: 1 / 2;
  }
  .time2 {
    grid-row: 2 / 3;
  }
  .time3 {
    grid-row: 3 / 4;
  }
  .time4 {
    grid-row: 4 / 5;
  }
  .time5 {
    grid-row: 5 / 6;
  }
}

.footer {
  @include flexbox(column, center, center, 20px);
  background-color: rgb(64, 64, 64);
  border-radius: 30px 30px 0 0;
  padding: 50px 0;
  > div {
    width: 70vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    .credits p {
      @include flexbox(row, center, unset, 10px);
      img {
        height: 4em;
      }
    }
    .socials {
      @include flexbox(column, flex-end, center, 20px);
      a {
        @include flexbox(row, baseline, center, 5px);
        img {
          height: 0.8em;
          translate: 0px 2px;
        }
      }
    }
    @media screen and (max-width: 800px) {
      grid-template-columns: 1fr;
      gap: 20px;
      text-align: center;
      .credits p {
        @include flexbox(row, center, center, 10px);
      }
      .credits h2,
      p {
        margin: 7px;
      }
      .socials {
        @include flexbox(column, center, center, 20px);
        gap: 0;
        a {
          margin: 7px;
        }
      }
    }
  }
}
